<h1>{{ title }}</h1>
<hr>
<h3>Aantal rijen:</h3>
<select class="form-control" [(ngModel)]="selectedRows" (ngModelChange)="getPersonByNumRow($event)">
    <option *ngFor="let numRow of numRows" value="{{ numRow }}">{{ numRow }}</option>
</select>
<hr>
<table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Email</th>
        </tr>
        <tr *ngFor="let person of persons">
            <td>{{ person.id }}</td>
            <td>{{ person.fname }} {{ person.lname }}</td>
            <td>{{ person.email }}</td>
        </tr>
</table>
<hr>
<button type="button" class="btn btn-primary" (click)="insertPersons()">Toevoegen</button> | <button type="button" class="btn btn-warning" (click)="emptyTable()">Leegmaken</button>
<hr>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let city of cities">
        <strong>City:</strong> {{ city.name }}
        <br/>
        <strong>Province:</strong> {{ city.province }}
    </li>
</ul>
